@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0;
}
html {
  /* --scroll-behavior: smooth !important; */
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  @apply w-[0.5px];
}
::-webkit-scrollbar-track {
  @apply bg-[#000300];
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#53c28b];
}

.container {
  @apply scroll-smooth max-w-full min-h-full flex flex-col justify-between mx-auto my-0 py-0 duration-300;
}
.logoTitle {
  @apply fontFam font-extrabold  animate-fade-in-down duration-500;
}
.fontFam {
  font-family: "Play", sans-serif;
}
.theme {
  transition: 1s all ease;
}
.light {
  @apply bg-[#fff] text-[#000300];
  .locIcon {
    @apply text-[#fff] hover:text-[#53c28b];
  }
  .arrow {
    @apply text-[#53c28b];
  }
  .logoTitle {
    @apply text-[#53c28b];
  }
  .menuLinks {
    @apply text-[#000300]/80;
    transition: 1s all ease;
  }
  .footer {
    @apply bg-[#048b4a]/[0.05];
  }
  .bdbg {
    @apply bg-[#fff];
    transition: 1s all ease;
  }
  .allFormInput {
    @apply border-[#000300] placeholder:text-[#000300];
  }
  /* .formContainer {
    @apply shadow-[0_14px_28px_rgba(0,0,0,0.25),0_10px_10px_rgba(0,0,0,0.22)];
    transition: 1s all ease;
  } */
  /* .bothForm {
    @apply bg-white;
    transition: 1s all ease;
  } */
}
.dark {
  @apply bg-[#000300] text-[#fff]/[0.8];

  .locIcon {
    @apply text-[#fff] hover:text-[#53c28b];
  }
  .logoTitle {
    @apply hover:text-[#53c28b];
  }
  .menuLinks {
    @apply text-[#fff]/80;
    transition: 1s all ease;
  }
  .footer {
    @apply bg-[#000300];
  }
  .bdbg {
    @apply bg-[#000300];
    transition: 1s all ease;
  }

  /* .bothForm {
    @apply bg-[#000300];
    transition: 1s all ease;
  } */
}

.hoverText {
  @apply relative flex items-center before:content-[''] before:absolute before:w-full before:h-full before:md:h-[1px] before:rounded-full before:bg-[#53c28b]/60 before:md:bg-[#53c28b]/90 hover:text-[#53c28b] hover:duration-700 before:origin-right before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-0 before:left-0 before:bottom-0 hover:before:origin-left hover:before:scale-x-100;
}

.allFormInput {
  @apply w-full fontFam focus:px-2 rounded-sm bg-transparent text-base md:text-xl placeholder:text-base md:placeholder:text-xl hover:placeholder:text-[#53c28b] focus:placeholder:text-[#53c28b] border-b-[1px] hover:border-[#53c28b] focus:border-[#53c28b] hover:shadow-md focus:shadow-md outline-none ease-in-out duration-300;
}
.numHide::-webkit-inner-spin-button,
.numHide::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numHide {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
  margin: 0; /* May be needed depending on your styling */
}

.allBtn {
  @apply fontFam md:w-[7.75rem] active:text-lg active:scale-90 font-extrabold cursor-pointer backdrop-filter backdrop-blur-sm bg-[#53c28b] hover:bg-[#53c28b]/[0.6] scale-95 hover:scale-100 shadow-sm flex justify-center items-center hover:shadow-md focus:shadow-md ease-[ease] duration-200;
}

.scrollDiv::-webkit-scrollbar {
  display: none;
}
